#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

@font-face {
  font-family: "Early GameBoy";
  src: local("Early GameBoy"), url("../font/Early GameBoy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VT323-Regular";
  src: local("VT323-Regular"), url("../font/VT323-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
